<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Laser Estimator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="snap.svg-min.js"></script>
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>--><!--Dev-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script><!--Prod-->
    <script src="/utils.js"></script>
    <script src="/plate.js"></script>
    <script src="/materials.js"></script>
    <script src="/drawingManager.js"></script>
    <script src="/sceneManager.js"></script>
    <script src="/app.js" defer></script>
    
    <style>
      html, body { margin:0;padding:0; width: :100%;height:100%;}
      aa-scene { width: 800px; height:600px; }
      .colorBlock { width:1em; height:1em; border:1px solid white; display: inline-block; }
      
      #groupList { list-style:none; padding:0;margin:0;margin-top:1em;display:inline-block; }
      #groupList li { margin-bottom:1em;background:gray;padding:1em; }
      #groupList li .extra { display:none; }
      #groupList li:hover .extra { display:initial; }
      
      #groupList img.preview { display:block;border: 2px solid black; }
    </style>
  </head>  
  <body>
    <div style="position:relative;width:100%;height:100%;">
      <div style="position:absolute;left:0;top:0;">
        <a-scene light="defaultLightsEnabled: false" background="color: #ECECEC"> <!-- embedded> -->
          <a-entity scale="10 10 10" position="0 0 0"><!-- TODO: Find out why smaller scales produce strange shadow artifacts -->
            <a-gltf-model src="can.glb" position="0.35 0 -0.35" scale="0.55 0.55 0.55" shadow></a-gltf-model>

            <a-entity position="0 .02 -0.25" rotation="-90 15 0"> 
              <a-entity id="plateObject" plate scale="0.15 0.15 0.15" shadow></a-entity>
            </a-entity>
            <a-plane color="#444" material="metalness:0;roughness:0.65" rotation="-90 0 0" position="0 0 0" width="2" height="2" shadow></a-plane>
          </a-entity>
          <!--<a-light type="directional" shadow position="0 2 0" rotation="33 -40 0"></a-light>-->
          <a-sky src="/envmap.jpg"></a-sky>
          <a-entity light="color:#BBB;type:ambient" data-aframe-default-light="" aframe-injected=""></a-entity>
          <a-entity light="intensity:0.6;castShadow:true" position=".625 1.3 -3" data-aframe-default-light="" aframe-injected=""></a-entity>
          <a-entity  >
            <a-camera position="-0.44676937691325225 2 1.9821879766257311" rotation="-56.149863922820714 -46.469070802020424 40"></a-camera>
          </a-entity>
        </a-scene>
      </div>
      
      <div id="app">
        <div style="position:absolute;left:0;top:0;padding:1em;">
          <div style="background:gray;padding:1em;border-radius:1.5em;">
            <h1>Laser Estimator</h1>
            <div v-if="hasDrawing">
              <h2 id="lengthInLabel">{{ round(lengthInches) }} inches</h2>
              <h2 id="lengthMmLabel">{{ round(lengthMm) }} mm</h2>
            </div>

            <input type="file" id="fileInput" onchange="fileSelected(this.files)" />
          </div>
          
          <ol>
            <li v-for="item in items">
              <button v-on:click="selectMaterial(item)">Select</button>
              <div class="colorBlock" v-bind:style="{ backgroundColor: item.color }"></div>
              {{ item.name }}. Size: {{ item.width }} x {{ item.height }} x {{ item.thickness }}  
            </li>
          </ol>
          <div v-if="selectedMaterial">
            Plate is {{ selectedMaterial.width }}" x {{ selectedMaterial.height }}" x {{ selectedMaterial.thickness }}"
          </div>
          <div v-if="hasDrawing">
            Drawings Size: {{ round(drawingBounds.width, 2) }}" x {{ round(drawingBounds.height,2) }}"
          </div>          

          <button v-if="hasDrawing" style="margin-top:1em;font-size:2em;box-shadow:10px 10px 30px black;border-radius:1.5em;padding:15px;">Place Order</button>
        </div>  

        <div style="position:absolute;right:0;top:0;padding:1em;height:100%;overflow:auto;">
          <ul id="groupList">
            <li v-for="group in groups">
              <img v-bind:style="{ borderColor: group.color }" class="preview" xxxv-bind:src="group.imageDataUrl" width="100" src="https://via.placeholder.com/100x100" />
              <div class="notextra" style="margin-top:1em;">
                <div>
                  <div style="text-align:center;">{{ getModeLabel(group) }}</div>
                  <input class="extra" style="width:100px" type="range" list="vectorTicks" id="start" name="volume" min="0" max="2" v-model="group.mode" />
                </div>
                <div class="extra">
                  <label><input type="checkbox" v-model="group.isRaster" />Filled</label>
                </div>
              </div>
            </li>
          </ul>
          
          <datalist id="vectorTicks">
            <option value="0"></option>
            <option value="1"></option>
            <option value="2"></option>
          </datalist>
        </div>

      </div>
    </div>
    
    <div style="visibility:show;">
      <div>Debug Image</div>
      <img id="debugImage" />
      <div>SVG</div>
      <svg width="512px" height="512px" viewbox="0 0 1024 512" preserveaspectratio="none" id="outerSvg"></svg>
      <div>Canvas</div>
      <canvas style="display:block;margin-top:1em" width="512" height="512" id="canvasSurface"></canvas>
    </div>
  </body>
</html>
